#learnMore{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: Segoe UI;
    font-style: italic;
    font-size: 5vh;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}